.col {
  padding: 35px 5%;
}

.col header.title {
  font-family: helvetica;
  color: #e0e6e4;
  padding: 0px 0px 20px 30px;
}
.content {
  border-left: 2px solid rgb(106, 102, 102);
}

.col .content .box {
  position: relative;
  padding: 25px;
 background-color: #1c1b23;
  transition: all 0.4s;
  border-radius: 1%;
  margin-bottom: 20px;
}

.col .content .box::before {
  /* content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #1e40af;
  border: 1px solid white; */
}
.box h4 {
  position: relative;
  color: #a0cbbd;
}
.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #eee7e7;
}
.box p {
  line-height: 1.2;
  color: #b8b2b2;
  font-size: 17px;
}
@media (max-width: 768px) {

  .row .col:nth-child(2) {
    margin-top: 30px;
  }
  
}
@media (min-width: 550px) {
  .col {
    padding: 35px 10%;
  }
  .row .col:nth-child(2) {
    margin-top: 30px;
  }
  .content {
    padding: 0px 29.2px;
    border-left: 2px solid rgb(106, 102, 102);
  }
  
  .col .content .box {
    position: relative;
    padding: 25px;
   background-color: #1c1b23;
    transition: all 0.4s;
    border-radius: 1%;
    margin-bottom: 20px;
  }
  
  .col .content .box::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #1e40af;
    border: 1px solid white;
  }
}
