@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #14131a;
  color: white;
  scroll-behavior: smooth;

}




html::-webkit-scrollbar{
background-color: transparent;}
